/********** Template CSS **********/
:root {
    --primary: #EFECD9;
    --brown: #A36C65;
    --light-purple: #E6DCDD;
    --purple: #B4A8B6;
    --orange: #C77E2E;
    --light: #FFFFFF;
    --dark: #000000;
    --logo-font: 'MuseoModerno';
    --text-font: 'Josefin Sans';
    --title-font: 'Kaisei Opti'
}

.frauducate-font {
    font-family: var(--logo-font);
    font-weight: 400;
    font-size: 40px;
    color: var(--brown);
}

/* “Empower yourself with knowledge, protect against deception, and join us in building a safer digital community." */

.home-text{
    position: absolute;
    width: 652px;
    height: 212px;
    left: 771px;
    top: 475px;

    font-family: 'Langar';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 62px;
    /* or 97% */

    color: #A36C65;
}


.contact-us{
    border: none;
    color: var(--light);
    background-color: var(--purple);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    width: 150px;
    padding: 5px;
    font-family: var(--text-font);
    margin-right: 50px;
}.contact-us:hover{
    opacity: 80%;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    font-weight: 600;
    color: #EFECD9;
    background-color: #6C6C6C;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    transition: .5s;
}
.back-to-top:hover{
    background-color: #EFECD9;
    color: #6C6C6C;
    border: none;
}
.back-to-top i {
    font-size: 1rem; /* Adjust the size of the arrow icon */
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--orange);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--text-font);
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--purple);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 100px;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

.dropdown-item{
    color: var(--orange);
}
.dropdown-item:hover{
    color: var(--brown);
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        font-family: var(--text-font);
        border-radius: 10px;
        color: var(--orange);
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
        color: var(--brown);
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header-logo{
    font-family: var(--logo-font);
    color: var(--brown);
    font-weight: 400;
    font-size: 40px;
}
.page-header-text{
    font-family: var(--text-font);
    color: var(--dark);
    font-weight: 400;
    font-size: 29px;
}

.page-home-text-only{
    font-family: var(--text-font);
    color: #a39999;
    font-weight: 400;
    font-size: 29px;
    margin-left: auto;
    position: relative;
    text-align: right;
    /* align-self: end;
    justify-self: end; */
}

.page-home-quote{
    font-family: 'Langar';
    color: #A36C65;
    font-weight: 400;
    font-size: 50px;
}

.page-header {
    background: linear-gradient(180deg, #EFECD9, #FFFFFF);
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.page-header-green {
    background: var(--primary);
    height: fit-content;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

.title-rectangle {
    background: linear-gradient(180deg, #EFECD9, #FFFFFF);
    height: 61px;
}

.our-missions {
    position: relative;
    margin-bottom: -40px;
    font-family: 'Kaisei Opti';
    font-weight: 700;
    font-size: 71px;
    line-height: 1.465;
    color: #000000;
}

.right-our-missions{
    position: relative;
    margin-top: -10px;
    /* font-family: 'Kaisei Opti'; */
    /* font-weight: 700;
    /* font-size: 71px; */
    line-height: 200px;
    margin-left: auto;
    width: 550px;
}

/* .report-scammer{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-family: 'Kaisei Opti';
    font-weight: 700;
    font-size: 71px;
    line-height: 1.465;
    color: #000000;
    border: 2px solid red;
} */

/* .how-to-report-title{
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 71px;
    line-height: 1.465;
    color: #000000;
} */

.flag-person{
    width: 234px;
    height: 197px;
    overflow: hidden;
}

.page-2-header-logo{
    font-family: var(--logo-font);
    color: var(--dark);
    font-weight: 400;
    font-size: 35px;
}
.page-2-header-text{
    font-family: var(--text-font);
    color: var(--orange);
    font-weight: 400;
    font-size: 29px;
}

.principle-box{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: #FFFFFF;
    margin-top: 30px;
    min-height: 280px;
}
.principle-title{
    color: #B17373;
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 50px;
}
.principle-text{
    color: var(--dark);
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 29px;
}
.principle-img{
    width: 250px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.our-team-box{
    background: linear-gradient(90deg, #EFECD9, #FFFFFF);
    width: 100%;
    height: 100%;
}
.team-pic{
    width: 200px;
    height: 185px;
    border-radius: 14px;
    margin-bottom: 10px;
}
.team-box{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: #FFFFFF;
    margin-top: 30px;
    display: flex;
}
.details{
    margin-left: 20px;
    flex:1;
}
.team-title{
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 44px;
    color: #000000;
    margin-bottom: 12px;
}
.team-name{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 27px;
    color: #C77E2E;
    margin-bottom: 12px;
}
.team-description{
    font-family: 'Josefin Sans';
    font-weight: 100;
    font-size: 20px;
    color: #89551D;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}

/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer{
    background-color: var(--primary);
    color: #000000;
}
.footer-title{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.footer-text{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 15px;
    color: #6C6C6C;
}.footer-text:hover{
    color:#6C6C6C;
}
.footer-copy{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 15px;
    color: #6C6C6C;
}.footer-copy:hover{
    color:#6C6C6C;
}
.footer .footer-copy::before {
    position: relative;
    content: "\f1f9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #EFECD9;
    background-color: #6C6C6C;
    border: 1px solid #6C6C6C;
    border-radius: 35px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6C6C6C;
    font-weight: normal;
    border: 1px solid #6C6C6C;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: #EFECD9;
    background-color: #6C6C6C;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 15px;
    color: #6C6C6C;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.simulation-box{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background: #F6F2F2;
    position: relative;
    display: flex;
    min-height: 400px;
    padding: 50px;
    position: relative;
}
.simulation-title{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}
.simulation-desc{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 29px;
    color: #C77E2E;
}
.simulation-btn{
    border: none;
    border-radius: 10px;
    background: #A36C65;
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 280px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 30px;
}
.simulation-btn:hover{
    opacity: 80%;
}
.start-simulation-box{
    justify-content: center;
    border: 2px solid #000000;
    width: 1200px;
    height: 717px;
    position: relative;
}
.start-simulation-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.start-simulation-btn{
    border-radius: 15px;
    background: #C77E2E;
    justify-content: center;
    align-items: center;
    display:flex;
    width: 756px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 50px;
}
.start-simulation-btn:hover{
    opacity: 80%;
    color: white;
}

.search-bar-container {
    position: relative;
    width: 1000px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}
.search-bar {
    border-radius: 30px;
    border: 0.5px solid #A36C65;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    padding-left: 40px; /* Adjust as needed to accommodate the search icon */
    box-sizing: border-box; /* Ensure padding is included in width */
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 22px;
    color: rgba(195, 154, 111, 0.66);
}
.search-bar-icon {
    position: absolute;
    left: 10px; /* Adjust as needed to position the search icon */
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}
.search-bar-delete-icon {
    position: absolute;
    right: 10px; /* Adjust as needed to position the delete icon */
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.course-box{
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: #FFFFFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.course-video{
    width: 330px;
    height: 216.8px;
    border-radius: 14px;
    align-self: center;
    margin-bottom: 10px;
}
.course-small-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 16px;
    color: #ACACAC;
    padding-left: 10px;
}
.course-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    padding-left: 10px;
}

.course-detail-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.course-clock {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.course-time {
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 16px;
    color: #ACACAC;
    margin-right: auto;
}
.course-rating {
    height: 16px;
    width: 100px; 
}
.course-next-page{
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 16px;
    color: #A36C65;
    margin-bottom: 50px;
    display: flex;
}
.course-next-page-icon-dark{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.course-next-page-icon-light{
    width: 25px;
    height: 25px;
}
.course-video-full-screen{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

.video-bar {
    position: absolute;
    background: #ACACAC;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.video-icon-bar {
    width: 800px;
    height: 35px;
}
.video-icon {
    width: 35px;
    height: 35px;
}

.quiz-box{
    position: relative;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    min-height: 560px;
}
.quiz-img{
    width: 330px;
    height: 330px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 10px;
}

.quiz-small-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 16px;
    color: #ACACAC;
    align-self: center;
    text-align: center;
    max-width: 280px;
    min-height: 50px;
}
.quiz-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    align-self: center;
}
.quiz-btn{
    background: #C77E2E;
    border-radius: 0 0 14px 14px;
    width: 107%;
    justify-content: center;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    border: none;
    margin-left: -11px;
    margin-top: auto;
}.quiz-btn:hover{
    opacity: 80%;
}

.quiz-q1-img{
    width: 330px;
    height: 330px;
    border-radius: 14px;
    align-self: center;
    z-index: 1;
}
.quiz-q1-box{
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #FFFFFF;
    height: 950px;
    display: flex; 
    padding: 30px;
    flex-direction: column;
    margin-top: -100px;
    z-index: 0;
}
.quiz-q1-small-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 29px;
    color: #ACACAC;
    align-self: center;
    text-align: center;
    max-width: 800px;
    min-height: 50px;
}
.quiz-q1-title{
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    align-self: center;
    text-align: center;
    max-width: 600px;
    min-height: 50px;
    margin-top: 50px;;
}

.quiz-q1-ques{
    margin-top: 50px;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    align-self: center;
    text-align: center;
    max-width: 1000px;
    min-height: 50px;
}

.ans-box{
    margin-bottom: 50px;
    border-radius: 20px;
    border: 3px solid #C77E2E;
    background: #FFFFFF;
    min-height: 200px;
    max-width: 530px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #C77E2E;
    font-weight: 400;
    font-size: 29px;
    font-family: 'Josefin Sans';
    display: flex;
    padding: 10px;
}.ans-box:hover{
    background: #C77E2E;
    color: #FFFFFF;
}

/*** ----------Home---------- ***/

.start-now{
    border: none;
    color: var(--light);
    background-color: var(--purple);
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    width: 150px;
    padding: 5px;
    font-family: var(--text-font);
    margin-right: 50px;
    margin-top: 50px;

}.start-now:hover{
    opacity: 80%;
    cursor: pointer;
}

.quizzes-text{
    font-family: var(--text-font);
    color: #978B8B;
    font-weight: 400;
    font-size: 29px;
}

.quiz-time{
    border: none;
    color: var(--light);
    background-color: #A36C65;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    width: 150px;
    padding: 5px;
    font-family: var(--text-font);
    margin-right: 50px;
    margin-top: 20px;

}.quiz-time:hover{
    opacity: 80%;
    cursor: pointer;
}

.view-all{
    border: none;
    color: var(--light);
    background-color: #C77E2E;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    width: 150px;
    padding: 5px;
    font-family: var(--text-font);
    margin-right: 50px;
    margin-top: 50px;

}.view-all:hover{
    opacity: 80%;
    cursor: pointer;
}

/* ----------Contact Us---------- */
.contact-us-bullet-point{
    margin-top: 30px;
    line-height: 50px;
    font-size: 20px;
}

.business-hour-text{
    margin-top: 30px;
    line-height: 50px;
    font-size: 20px;
}

.contact-form-text{
    font-size: 20px;
    padding: 20px 0;
}

#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm input[type="tel"],
#contactForm textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#contactForm input[type="submit"] {
    background-color: var(--purple);
    color: var(--light);
    font-size: 15px;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contactForm input[type="submit"]:hover {
    opacity: 80%;
    cursor: pointer;
}

/* ----------How to report scammers---------- */

.report-text {
    font-family: var(--text-font);
    font-size: 20px;
    line-height: 200%;
    margin: 80px 1px;
}

#scam-steps {
    list-style-type: none;
    padding: 0;
    /* border: 2px solid red; */
    margin: auto;
    margin-left: 20px;
}

#scam-steps li {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: 90%;
    /* border: 1px solid #ccc; */
    border-radius: 15px;
    padding: 50px;
    margin: auto;
    margin-top: 30px;
    /* border: 2px solid red; */

}

#scam-steps li ul {
    list-style-type: none;
    padding-left: 20px;
}

#scam-steps li ul li {
    background-color: #f2f2f2;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: 90%;
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    /* margin-top: 20px; */
}

#scam-steps .report-bullet-title{
    color: #8D7192;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0;
}

#scam-steps .report-bullet-small-title{
    color: #b09eb4;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 5px;
}